body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#logo {
    all: unset;
    cursor: pointer;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    font-size: 30px;
    padding-left: 16%;
    padding-right: 16%;
}

#header-2-links {
    background-color: #005EFF;
    /*text-align: center;*/
    padding-left: 16%;
}

#header-2-wrapper, #header-2-wrapper > * {
    display: inline-block;
}

#header-2-wrapper > * {
    font-size: 1rem;
    color: white;
}

#header-2-wrapper > *:hover, #header-2-wrapper > *:active {
    background-color: #0086FF;
}

#header-2-wrapper > * a {
    all: unset;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 0.875rem;
    line-height: 1.5em;
    text-align: center;
    width: 172px;
}

#login-text {
    position: absolute;
    right: 24%;
    top: 10px;
}

#login-text > * {
    display: inline-block;
}

#logged-text {
    color: #7c7c7c;
    font-size: .625rem;
}

#logged-link {
    color: #000E47;
    font-size: .75rem;
}

#logged-link a {
    all: unset;
    cursor: pointer;
    font-weight: bold;
}

#body-left, #body-center, #body-right {
    display: inline-block;
}

#body-left {
    width: 16%;
}

#body-center {
    width: 60%;
}

#body-right {
    width: 22%;
}

.block-container {
    border-radius: 0.3125rem;
    color: #232A34;
    margin-bottom: 1.5rem;
    padding: 1.563rem 0.5rem 0.5rem;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 0.1875rem;
    -o-box-shadow: 0 3px 6px 0 rgba(0,0,0,.15);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
    padding: 0.5rem;
}