.recent-comment {
	margin-bottom: 15px;
	background-color: white;
}

.recent-comment > * {
	display: inline-block;
	vertical-align: top;
	padding: 5px;
}

.recent-comment-author {
	width: 15%;
}

.recent-comment-right-part {
	width: 80%; /* the missing % is to compensate the inline-block margin */
}